*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
nav{

	display: flex;
	background-color: transparent;
	text-align: center;
	justify-content: center;

}
.nav-links{
	position: fixed;
	display: flex;
	justify-content: space-around;
	width: 50%;
	text-decoration: none;

	
}
.nav-links li{
	padding-top: 35px;
	list-style: none;
}
.nav-links a {
	font-family: arial;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 4px;
	color: white;

}
a:hover{
	color: darkblue;
}

.work{
  background-image: url("../html/projects.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.miantext{
  padding-top: 7%;
  text-align: center;
  font-size: 50px;
}
p.miantext{
  font-size: 5vw;
  width: 70%;
  margin: auto;
}
*{box-sizing: border-box;
}

 @font-face {
  font-family: Agency FB;
  src: url(agency-fb_[allfont.net].ttf);
}

body{margin: 0; background-color: white;color: white;height: 100%;font-family: "Agency FB";}


div.slidertext{
  padding-top: 7%;
  text-align: center;
}

h1.slidertext{
  font-size: 502px;
   margin-left: 14.2vw;
    
    font-size: 10vw;
    width: 70vw;
}

p.slidertext{
  font-size: 5vw;
  width: 70%;
  margin: auto;
}
.work{
  width: 100%;
  height: 55vh ;
  background-image: url("../html/projects.jpg");
  background-color: darkblue;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}







h1.readytext{
  margin-top: 1vh;
  font-size: 10vw;
  text-align: center;
}
p.readytext{
  margin-top: -8vh;
  font-size: 6vw;
  text-align: center;
  margin-bottom: 10vh;
}



.whiteowlimg{
  margin-left: 15vw;
      width: auto;
    height: 15vw;
    margin-left: 39vw;
}

   .work{
    width: 100%;
    height: 110vh ;
    margin-top: 0.1vh;
    background-image: url("../html/projects.jpg");
    background-color: darkblue;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  .button {
    background-color: white;;
    border: none;
    color: black;
    padding: 10px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    display: grid;
    margin: auto;
    cursor: pointer;
    border-radius: 24px;
  transition: all 0.5s;
  }
  .button:hover{
    background-color: #2176ff;
    color: white;
    transition: all 0.5s;
  }
div.link{
    display: flex;
    flex-direction: column;
    margin-left: 40vw;
    width: 20%;
  }




  p.slidertext{
    font-size: 2vw;
    margin-top: -10vh;
    margin-bottom: 10vh;
  }

  .gallerytext{
    color: black; 
  }

  h1.gallerytext{
    font-size: 3.8vw;
  }
  div.gallerycontent{
    margin-left: 20vw;
    margin-top: 20vh;

  }

  .galleryimage{
    width: 20vw;
  }
  .readybg{
    height: 120vh;
    background-image: url("../html/contact.jpg");
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .padding{
    padding-top: 20vh;
  }
  .footer{
    
    height: 20vh;
    background-color: #333333;
  }
  div.footer-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  p.footer-text{
    margin: 0;
    padding-top: 7vh;
    width: 40%;
   
  }
 
 

  h1.readytext{
    margin-top: 4vh;
    font-size: 6vw;
    width: 60vw;
    margin-left: 20vw;

  }
  p.readytext{
    margin-top: -8vh;
    width: 70vw;
    margin-left: 14.2vw;
    
    font-size: 4vh;
    margin-bottom: 10vh;
  }
